#!/bin/bash
#SBATCH -J <JOBID>_<EXPID>
#SBATCH -n 1
#SBATCH -t 03:00:00
#SBATCH -o <LOG>/<JOBID>_<EXPID>_%J.out
#SBATCH -e <LOG>/<JOBID>_<EXPID>_%J.err

set -ex

cd $SLURM_SUBMIT_DIR

. $HOME/ecearth3/post/conf/conf_users.sh

#########################
cd $SCRIPTDIR
